<div class="jumbotron" id="jumbo">
<h1>Eat Da Burger</h1>
<img src="http://downloadclipart.org/do-upload/clipart/2016-07/Burger_png_clipart.png" id = "pic" alt="burger" height="42" width="42"/>
</div>
<div class="container">
  <div class="row">
  <div class= "col-md-8" >
    <h2>Ready to be devoured!</h2>
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
             {{this.id}}. {{this.burger_name}}
             <div class= "burgerBut">
           <form action="burgers/update/{{this.id}}?_method=PUT" method="POST"> 
              <input type="hidden" name="devoured" value="true">
              <button class="burgerButton" class="btn btn-success" type="submit">Eat it!</button>  
            </form>
            </div>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class= "col-md-4" class="devBurger">
    <h2>Devoured!</h2>
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
           {{this.id}}. {{this.burger_name}}
              <input type="hidden" name="devoured" value="false">
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<hr>
<br>
<div class="row">
<div class="col-md-12">
<div class="addBurger">
  <p>Enter a burger you want to eat Click the "Add Burger" button"</p>
  <form class="create-update-form" action="burgers/create" method="POST">
    <h2>Add a burger</h2>
    <br>
      <div class="form-group">
        <label for="bur">Burger Name:</label>
        <input type="text" id="burgerOne" name="burger_name">
      </div>
      <button class="btn btn-success" type="submit">Add Burger</button>
   </form>
</div>
</div>
</div>